a{
	text-decoration: none;
}
html{
	width: 100%;
	height: 100%;
}
body{
	font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
#bg1{
	background-image: url(../images/1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
}
#bg2{
	background-image: url(../images/2.jpg);
	background-repeat: no-repeat;
    background-position: center;
	width: 100%;
	height: 100%;
}
.title{
	position: fixed;
	top: 25%;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 30px;
	text-shadow: 0 0 10px black;
}
.line{
	height: 1px;
	margin: 0 auto;
	width: 40%;
	background-color: white;
	border: none;
	box-shadow: 0 0 5px black;
}
#titletext{
	margin-top: 20px;
	font-size: 15px;
	/*width: 250px;
	height: 35px;
	line-height: 35px;
	padding: 5px;
	border-radius: 20px;
	margin: 0 auto;
	border:1px solid white;
	background-color: rgba(0,0,0,0.2);*/
}

.headImage{
	border: 3px solid white;
	width: 120px;
	height: 120px;
	border-radius: 60px;
}

.bottom{
	
	position: fixed;
	bottom: 10px;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 10px;
}
.link{
	outline: none;
    transform:none;
    -ms-transform:none;     /* IE 9 */
    -moz-transform:none;    /* Firefox */
    -webkit-transform:none; /* Safari 和 Chrome */
    -o-transform:none;
    transition: transform 0.25s,box-shadow 0.25s;
    -moz-transition: -moz-transform 0.25s,box-shadow 0.25s;
    /* Firefox 4 */
    -webkit-transition: -webkit-transform 0.25s,box-shadow 0.25s;
    /* Safari 和 Chrome */
    -o-transition: -o-transform 0.25s,box-shadow 0.25s;
	background-color: rgba(0,0,0,0.2);
	width: 70px;
	height: 70px;
	border-radius: 35px;
	margin: 10px;
	box-shadow: 0 0 20px white;
}
.link:hover{
	outline: none;
    transform:scale(1.3,1.3);
    -ms-transform:scale(1.3,1.3);     /* IE 9 */
    -moz-transform:scale(1.3,1.3);    /* Firefox */
    -webkit-transform:scale(1.3,1.3); /* Safari 和 Chrome */
    -o-transform:scale(1.3,1.3);
}
